/*  ===== COMMON STYLES ===== */
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

:root {
  --primari-text-color: #2E2f42;
  --secondary-text-color: #434455;
  --bgd-white-color: #ffffff;
  
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primari-text-color)
}
/*  ===== /COMMON STYLES ===== */

/*  ===== HEADER ===== */
.page-logo {
    color: #4D5AE5;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.span-logo {
    color: var(--primari-text-color);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.menu-link {
    color: var(--primari-text-color);
        font-size: 16px;
        font-weight: 500;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.menu-address-link {
    color: #434455;
     font-size: 16px;
     font-weight: 400;
}

.menu-address-link:hover,
.menu-address-link:focus {
    color: #404BBF;
}
/*  ===== /HEADER ===== */

/*  ===== HERO STYLES ===== */

.page-hero {
    background: #2E2F42;
}

.hero-title {
    color: #FFFfff;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.hero-btn {
    color: #FFFfff;
    font-size: 16px;
    font-weight: 500;
       
       
        letter-spacing: 0.04em;
        background: #4D5AE5;
}

.hero-btn:hover,
.hero-btn:focus {
    color: #404BBF;
}
/*  ===== /HERO STYLES ===== */

/*  ===== HERO STYLES ===== */













/*  
ul, ol {
list-style-type: none;
   }
    
.list{
    list-style: none;
    }

/* ========== header styles ========= */

/* 
.logo {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 0.17;
   color: #4D5AE5;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 0.54px;
        }

.header-logo {
            color: #2E2F42;
    }

    /* 
.header-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    
}

    

.header-item :hover,
.header-item :focus
{
    color: #404BBF;
}


.header-address-list {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5x;
        color: #434455;
}

.header-address-list :hover,
.header-address-list :focus
{
    color: #404BBF;
}


/* hero styles */
/* 

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
       
}
/* не понятно 
.hero-title .hero-btn {
    background-color: #4D5AE5;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
}

.hero-btn :hover,
.hero-btn :focus 
{
    color: #404BBF;
}


/* features styles 
 

.features {}

 

.features-iten {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.features-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}


/* made styles


.made {}

.made-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.made-list {}

.made-iten {}

.made-img {}


/* team styles


.team {
    background-color: #F4F4FD;;
}

.team-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.team-list {}

.team-item {}

.team-img {}

.team-title-name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
}

.team-paragraph{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* footer styles 

.footer {
    background-color: #2E2F42;;
}

.footer-link {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4D5AE5;
        text-decoration: none;
}

.foter-paragraph {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.footer-logo-raleway{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

/* CSS Page 2 



.filters-btn{
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color:#4d5ae5;
        background-color: #F4F4FD;
        cursor: pointer;
            }

.filters-btn: hover,
.filters-btn: focus {
    color: #404BBF;}

    /* app styles 
            
.app-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
    
.app-paragraph {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

        /* servis styles 
                      
.servis-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;}
        
.servis-paragraph {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

        /* web styles 
                
        
.web-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;       
    color: #2E2F42;}
        
.web-paragraph {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}


 */
