/* Common styles */
.body{
    background-color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    color: #434455;
   }

.list{
    list-style: none;
    }

/* header styles */

.header {}

.header-nav {
    background-color: #FFFFFF;
    }
 
.header-logo-raleway{
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #2E2F42;
    }

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
    text-decoration: none;
}

.header-list {}

.header-link{
    text-decoration: none;
    color: currentColor;
}

.header-item {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
        }

.header-item :hover,
.header-item :focus{
    color: #404BBF;
}

.header-address {}

.header-address-list {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5x;
        color: #434455;
}

header-address-list: hover,
header-address-list: focus{
    color: #404BBF;
}

.header-address-item {}

/* hero styles */


.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.hero-btn {
    background-color: #4D5AE5;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
      
}

.hero-btn: hover,
.hero-btn :focus{
    color: #404BBF;
}

/* features styles */


.features {}

.features-list {}

.features-iten {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.features-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.features-paragraph {}

/* made styles */


.made {}

.made-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.made-list {}

.made-iten {}

.made-img {}


/* team styles */


.team {
    background-color: #F4F4FD;;
}

.team-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.team-list {}

.team-item {}

.team-img {}

.team-title-name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
}

.team-paragraph{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* footer styles */

.footer {
    background-color: #2E2F42;;
}

.footer-link {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4D5AE5;
        text-decoration: none;
}

.foter-paragraph {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.footer-logo-raleway{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

/* CSS Page 2 */

.filters{}

.filters-btn{
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color:#4d5ae5;
        background-color: #F4F4FD;
        cursor: pointer;
            }

.filters-btn: hover,
.filters-btn: focus {
    color: #404BBF;}

    /* app styles */
            
.app-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
    
.app-paragraph {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

        /* servis styles */
                      
.servis-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;}
        
.servis-paragraph {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

        /* web styles */
                
        
.web-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;       
    color: #2E2F42;}
        
.web-paragraph {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}




    


    
